<!-- Displays an info box for each chat to be listed on the counselor dashboard. -->
<!-- This layout was just moved inside the chat-list component. This component can be deleted. -->
<div class="ui card">
  <div class="content">
    <div class="header">Status: {{chatObject.chatStatus}}</div>
  </div>
  <div class="content">
    <h4 class="ui sub header">Chat Key: {{chatObject.$key}}</h4>
    <h4 class="ui sub header">Time: {{ chatObject.chatStart | date: 'EEEE, MMMM d, y, h:mm:ss a' }}</h4>
    <h4 class="ui sub header">Counselor: {{chatObject.ResponderKey}}</h4>
  </div>
  <div class="extra content">
    <button class="ui button" (click)="chatNow(chatObject.$key)">Help</button>
  </div>
</div>