@import '~/nativescript-theme-core/css/blue.css';
Page {
    background-color: white;
    font-size: 20;
}

.btn-green {
    background-color: lightgreen;
    color: black;
}

.btn-red {
    color: black;
    background-color: coral;
}

TextField {
    padding: 10;
    font-size: 20;
}