<GridLayout rows="auto, *, auto" columns="*, auto, auto, auto">
    <Button class="btn btn-green" text="E-mail transcript" row="0" col="0" colspan="3"></Button>
    <button class="btn btn-red" text="Exit" row="0" col="3"></button>
    <ScrollView orientation="vertical" row="1" col="0" colspan="4" id="scrollcity">
        <StackLayout android:paddingBottom="25dp">
            <StackLayout *ngFor="let chatMessage of chatMessages;  let i=index" orientation="horizontal" colspan="4">
                <Label text="{{chatMessage.senderKey}} - " style="font-weight:bold;"></Label>
                <Label text="{{chatMessage.chatText}}" textWrap="true"></Label>
            </StackLayout>
        </StackLayout>
    </ScrollView>
    <TextField class="input input-border" id='chatText' text="" hint="Say something here..." row="2" col="0" colspan="3"></TextField>
    <Button text="Send" class="btn btn-green" (tap)="sendChat()" row="2" col="3"></Button>
</GridLayout>