<div class="ui container">
  <div class="ui grid">
    <div class="row" style="height:100vh">
      <div class="ui middle aligned centered four wide column">
        <div class="ui grid raised segment padded">
          <div class="ui row column top">
            <img class="ui centered image" style="position:relative;left:5px;" src="https://www.imalive.org/images/logo.png" alt="IMAlive Logo">
          </div>
          <div class="ui centered row input">
            <input placeholder="User ID" />
          </div>
          <div class="ui centered row input">
            <input placeholder="Password" type="password" />
          </div>
          <div class="ui centered row">
            <button class="ui blue button">Login</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>